*{
    font-size: 20px;
}
.form{
    margin:5%;
    font-size: 20px;
}
.columns div{
    margin:1%
}
.warning{
    color:red
}
.previewImage{
    width: 20%;
}
.result{
    padding:5%;
}
.result h2{
    font-size: 2em;
}
#result_para{
    font-size: 1.5em;
}